---
layout: layout
---
<div class="container">
    <div class="row">
        <div class="col-md-3" style="text-align:center;">
            <div class="avatar">
                <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" Height="150">
            </div>
        <h3>Minsuk Chang</h3>
            {% include social.html %}
        </div>
        <div class="col-md-9">
            <h3><strong>Hi! :) My name is Minsuk Chang. </strong></h3>
            <p><a> I'm a PhD student in the <a href="https://cs.kaist.ac.kr">School of Computing</a> at <a href="https://www.kaist.ac.kr"> KAIST</a>
                advised by <a href="https://juhokim.com"> Juho Kim</a>. My work in HCI focuses on building interactive systems powered by statistical inference on large scale interaction data.
                I am an active member of <a href="https://kixlab.org"> KIXLAB</a> since its day one,
                and we're part of the bigger <a href="https://hci.kaist.ac.kr"> HCI@KAIST</a> group.
            </p>
            <h5><strong> One-liner Research Objective: </strong></h5>
            <p> I aim to build interfaces that promote learning for both humans and machines. </p>

            <h5><strong>Latest Publications:</strong></h5>
            <p> <i>Minsuk Chang</i>, Leonore V. Guillain, Hyeungshik Jung, Vivian M. Hare, Juho Kim, and Maneesh Agrawala. "<a href="https://recipescape.kixlab.org">RecipeScape: An Interactive Tool for Analyzing Cooking Instructions at Scale</a>", CHI 2018 (to appear)</p>
            <!-- <p> <i>Minsuk, Chang</i>, Vivian M. Hare, Juho Kim, and Maneesh Agrawala. "<a href="recipescape.kixlab.org">RecipeScape: Mining and Analyzing Diverse Processes in Cooking Recipes</a>", CHI LBW 2017</p> -->

            <h5><strong>What I do:</strong><button type="button" class="btn btn-link toggle-tex" data-toggle="collapse" data-target="#whatido"><span class="glyphicon glyphicon-collapse-down"> Open</span><span class="hidden">Close</span></button></h5>
            <div id="whatido" class="collapse">
                <ul>
                    <li>I build interfaces using <b> data-driven computational interaction models </b> to support computationally rational user scenarios.</li>
                    <li>I use human computation, machine learning and statistical inference on <b> naturally crowdsourced instructions</b> to mine human semantics layers like explanations, reasoning, consequences and causal relationships.</li>
                    <li>I spend a lot of my time thinking about ways we can improve <b>learning at scale</b> through peer learning.</li>
                    <li>I'm Head TA for the <a href="https://cs101.kaist.ac.kr">Introduction to Programming</a> course since 2015. I really enjoy working with 40 TAs and interacting with 450-500 students each semester!</li>
                </ul>
            </div>

            <h5><strong> How I got here:</strong><button type="button" class="btn btn-link toggle-tex" data-toggle="collapse" data-target="#cv"><span class="glyphicon glyphicon-collapse-down"> Open</span><span class="hidden">Close</span></button></h5>
            <div id="cv" class="collapse">
            <p>I have training in Computer Science, Financial Engineering from KAIST, Finance from Simon Graduate School of Business @ University of Rochester, and Statistics
                from Rutgers University. I have worked at an Hedge Fund in NYC trying to beat the market by relentlessly crunching numbers prior to coming (back) to KAIST.
                I've spent two years in the reinforcement learning (as a subfield of machine learning) research group at KAIST as a Ph.D student before joining KIXLAB (the KAIST Interaction Lab).
                <a href="{{ site.baseurl }}static/CV_minsukchang_2018_USLetter.pdf"> A more detailed CV.</a></p>
            </div>

            <h5><strong>Latest News:</strong></h5>
            {% include news.html limit=3 %}

        </div>
    </div>
</div>
