<div class="row">
    <div class="col-md-4 pr-md-1"><img src="static/img/voicenav.jpg" width="250"></div>
    <div class="col-md-8 pr-md-2"><a href="https://www.kixlab.org/files/2019/chi2019-VoiceVideoNavigation-paper.pdf"> How to Design Voice Based Navigation for How-To Videos</a> <br> 
        <i>Minsuk Chang</i>, Ahn Truong, Oliver Wang, Maneesh Agrawala, Juho Kim <br>
        ACM Human Factors in Computing Systems (CHI), May 2019, To Appear.  </p></div>
</div>
<p> 
</p>
<div class="row">
    <div class="col-md-4 pr-md-1"><img src="static/img/recipescape.jpg"  width="250"></div>
    <div class="col-md-8 pr-md-2"><a href="https://recipescape.kixlab.org">RecipeScape: An Interactive Tool for Analyzing Cooking Instructions at Scale</a> <br> 
        <i>Minsuk Chang</i>, Leonore V. Guillain, Hyeungshik Jung, Vivian M. Hare, Juho Kim, and Maneesh Agrawala<br>
        ACM Human Factors in Computing Systems (CHI), May 2018.</div>
</div>